body {
    margin: 0px!important;
    font-family: "Roboto", serif;
}

.ABixZ {
    margin-top: 0 !important;
}

.scroll-box {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.scroll-box__wrapper {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE */
    overflow: -moz-scrollbars-none; /* Firefox */
}

.scroll-box__wrapper::-webkit-scrollbar {
    display: none; /* Chrome and Safari */
}

.scroll-box__container {
    height: 100%;
    display: inline-flex;
}
.ScrollbarsCustom-Thumb,
.ScrollbarsCustom-ThumbX {
    display: none !important;
}
.RichEditor-blockquote{
    border-left: 5px solid #eee;
    color: #666;
    font-family: Hoefler Text, Georgia, serif;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
}
.Imag1 {
    background: url("https://w0.peakpx.com/wallpaper/236/488/HD-wallpaper-mac-os-ventura-dark-macos-ventura-macbook-apple-computer.jpg") no-repeat center center;
}
.animation {
    display: inline-block;
    animation: shake .5s infinite;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    75% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
